.carousel-caption {
  color: #000000;
  text-align: left;
  margin-left: -5rem;
  top: 15%;
  bottom: auto;
}
/* media queries bootstrap */
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
