.carousel-caption {
  color: #000000;
  text-align: left;
  margin-left: -5rem;
  top: 15%;
  bottom: auto;
}
#xBoxGamePass {
 background-image: url("../img/xBoxGamePass.jpg");
 background-size: cover;
 height: 600px;
 display: flex;
 justify-content: center;
 align-items: flex-end;
}
li {
  list-style-type: none;
}
h3 {
  margin-top: 2rem;
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
/* media queries bootstrap
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/
